$primary-color: #E3C770;
$secondary-color: #FECD70;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    line-height: 1.5;
}

img, picture {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    max-width: 992px;
    padding-inline: 2em;
    margin-inline: auto;
}

.grid {
    display: grid;
    gap: 1rem;
}

.text-center {
    text-align: center;
}